<!DOCTYPE html>
<html>
<head>
 	<meta charset="utf-8">
	<title>Guest Book</title>
	<link type="text/css" rel="stylesheet" href="style/design.css" >
	<script type="text/javascript" src="js/script.js" ></script>

</head>
<body>
	<section class="wrapper-flower-1">
		<h2 align="center">
			<a href="index.html"> << </a>
			<font color="orange">Guest Book</font>
		</h2><hr/>
		<h1>Leave a comment</h1>
		<form method="GET">
			<label id = 'name'> Name: <input type="text" name="name" required ></label><br />
			<label id = 'comment'> Comment: <textarea name="comment" rows="4" cols="50" required></textarea></label>
			<p><input type="submit" value="Submit" ></p><hr />
		</form>
		